fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt
python-multipart
python-dotenv
email-validator
alembic
mako
openpyxl
reportlab
httpx
